<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>IMS1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.admin.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.admin.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourse</display-name>
    <servlet-name>AddCourse</servlet-name>
    <servlet-class>com.admin.AddCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourse</servlet-name>
    <url-pattern>/AddCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageFees</display-name>
    <servlet-name>ManageFees</servlet-name>
    <servlet-class>com.admin.ManageFees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageFees</servlet-name>
    <url-pattern>/ManageFees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLoginServlet</display-name>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>com.student.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveServlet</display-name>
    <servlet-name>LeaveServlet</servlet-name>
    <servlet-class>LeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveServlet</servlet-name>
    <url-pattern>/LeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendanceServlet</display-name>
    <servlet-name>AttendanceServlet</servlet-name>
    <servlet-class>com.admin.AttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceServlet</servlet-name>
    <url-pattern>/AttendanceServlet</url-pattern>
  </servlet-mapping>
</web-app>